USE [master]
GO
/****** Object:  Database [dorms]    Script Date: 8/4/2025 5:19:06 PM ******/
CREATE DATABASE [dorms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dorms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dorms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dorms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dorms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dorms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dorms]
GO
/****** Object:  Table [dbo].[Bed]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bed](
	[BedID] [int] IDENTITY(100,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[BedLabel] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Status] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Bed] PRIMARY KEY CLUSTERED 
(
	[BedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BedFeature]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedFeature](
	[FeatureID] [int] IDENTITY(100,1) NOT NULL,
	[FeatureName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_BedFeatures] PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BedFeatures]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedFeatures](
	[BedFeaturesID] [int] IDENTITY(100,1) NOT NULL,
	[FeatureID] [int] NOT NULL,
	[RentID] [int] NOT NULL,
 CONSTRAINT [PK_BedFeatures_1] PRIMARY KEY CLUSTERED 
(
	[BedFeaturesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [int] IDENTITY(1000,1) NOT NULL,
	[RentID] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[isPayed] [bit] NULL,
	[BillDate] [date] NOT NULL,
	[PayedDate] [date] NULL,
	[ToBePayed] [float] NULL,
	[Payed] [float] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floor]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floor](
	[FloorID] [int] IDENTITY(1000,1) NOT NULL,
	[FloorLevel] [int] NOT NULL,
	[Description] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FloorName] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Floor] PRIMARY KEY CLUSTERED 
(
	[FloorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[RentID] [int] IDENTITY(1000,1) NOT NULL,
	[TenantID] [int] NOT NULL,
	[BedID] [int] NULL,
	[RoomID] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NULL,
	[EstimateCheckOut] [date] NULL,
	[Type] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[RentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(100,1) NOT NULL,
	[FloorID] [int] NOT NULL,
	[RoomNumber] [nvarchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoomType] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomService]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomService](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_RoomService] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomServices]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomServices](
	[RoomServicesID] [int] IDENTITY(100,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[RentID] [int] NOT NULL,
 CONSTRAINT [PK_RoomServices] PRIMARY KEY CLUSTERED 
(
	[RoomServicesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[TenantID] [int] IDENTITY(1000,1) NOT NULL,
	[PassportID] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PhoneNumber] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FirstName] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MiddleName] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BirthOfDate] [date] NOT NULL,
	[Gender] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[InsertionDate] [date] NOT NULL,
	[EmergencyContactName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EmergencyContactRelation] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EmergencyContactPhone] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EmergencyContactEmail] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[UniversityName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[TenantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/4/2025 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](16) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [nvarchar](16) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[UserType] [nvarchar](16) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bed] ON 

INSERT [dbo].[Bed] ([BedID], [RoomID], [BedLabel], [Status], [Price]) VALUES (100, 100, N'A', N'Available', 150)
INSERT [dbo].[Bed] ([BedID], [RoomID], [BedLabel], [Status], [Price]) VALUES (101, 100, N'B', N'Available', 150)
INSERT [dbo].[Bed] ([BedID], [RoomID], [BedLabel], [Status], [Price]) VALUES (102, 101, N'B', N'Available', 150)
SET IDENTITY_INSERT [dbo].[Bed] OFF
GO
SET IDENTITY_INSERT [dbo].[BedFeature] ON 

INSERT [dbo].[BedFeature] ([FeatureID], [FeatureName], [Price], [Description]) VALUES (101, N'Space-Saving & Storage', 40, N'Space-Saving & Storage Features')
INSERT [dbo].[BedFeature] ([FeatureID], [FeatureName], [Price], [Description]) VALUES (102, N'Tech & Smart Features', 30, N'Description')
INSERT [dbo].[BedFeature] ([FeatureID], [FeatureName], [Price], [Description]) VALUES (103, N'Extra Privacy ', 43, N'Description')
SET IDENTITY_INSERT [dbo].[BedFeature] OFF
GO
SET IDENTITY_INSERT [dbo].[BedFeatures] ON 

INSERT [dbo].[BedFeatures] ([BedFeaturesID], [FeatureID], [RentID]) VALUES (120, 102, 1030)
INSERT [dbo].[BedFeatures] ([BedFeaturesID], [FeatureID], [RentID]) VALUES (121, 103, 1030)
INSERT [dbo].[BedFeatures] ([BedFeaturesID], [FeatureID], [RentID]) VALUES (122, 102, 1031)
SET IDENTITY_INSERT [dbo].[BedFeatures] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([BillID], [RentID], [Total], [isPayed], [BillDate], [PayedDate], [ToBePayed], [Payed], [UserID]) VALUES (1022, 1030, 227, 1, CAST(N'2025-08-03' AS Date), NULL, 227, 227, 1)
INSERT [dbo].[Bill] ([BillID], [RentID], [Total], [isPayed], [BillDate], [PayedDate], [ToBePayed], [Payed], [UserID]) VALUES (1023, 1031, 302, 0, CAST(N'2025-08-03' AS Date), NULL, 300, 0, 7)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[Floor] ON 

INSERT [dbo].[Floor] ([FloorID], [FloorLevel], [Description], [FloorName]) VALUES (1000, 1, N'Floor-1-Description', N'Floor-1')
INSERT [dbo].[Floor] ([FloorID], [FloorLevel], [Description], [FloorName]) VALUES (1005, 2, N'Floor-2-Description', N'Floor-2')
INSERT [dbo].[Floor] ([FloorID], [FloorLevel], [Description], [FloorName]) VALUES (1006, 3, N'Floor-3-Description', N'Floor-3')
SET IDENTITY_INSERT [dbo].[Floor] OFF
GO
SET IDENTITY_INSERT [dbo].[Rent] ON 

INSERT [dbo].[Rent] ([RentID], [TenantID], [BedID], [RoomID], [CheckInDate], [CheckOutDate], [EstimateCheckOut], [Type], [UserID]) VALUES (1030, 2005, NULL, 102, CAST(N'2025-08-03' AS Date), NULL, CAST(N'2025-09-03' AS Date), N'Full Room', 7)
INSERT [dbo].[Rent] ([RentID], [TenantID], [BedID], [RoomID], [CheckInDate], [CheckOutDate], [EstimateCheckOut], [Type], [UserID]) VALUES (1031, 2006, 109, 117, CAST(N'2025-08-03' AS Date), NULL, CAST(N'2025-10-03' AS Date), N'One Bed', 7)
SET IDENTITY_INSERT [dbo].[Rent] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [FloorID], [RoomNumber], [Description], [RoomType]) VALUES (100, 1000, N'101-L', N'101-L-Description', N'Premium')
INSERT [dbo].[Room] ([RoomID], [FloorID], [RoomNumber], [Description], [RoomType]) VALUES (101, 1000, N'102-R', N'Room on the right', N'Premium')
INSERT [dbo].[Room] ([RoomID], [FloorID], [RoomNumber], [Description], [RoomType]) VALUES (102, 1000, N'103-R', N'Room on the right', N'Normal')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomService] ON 

INSERT [dbo].[RoomService] ([ServiceID], [ServiceName], [Price], [Description]) VALUES (1002, N'Electrecity', 50, N'Electrecity in the room')
INSERT [dbo].[RoomService] ([ServiceID], [ServiceName], [Price], [Description]) VALUES (1003, N'House Keeping', 50, N'Description')
INSERT [dbo].[RoomService] ([ServiceID], [ServiceName], [Price], [Description]) VALUES (1004, N'Air Condition', 50, N'AC')
SET IDENTITY_INSERT [dbo].[RoomService] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomServices] ON 

INSERT [dbo].[RoomServices] ([RoomServicesID], [ServiceID], [RentID]) VALUES (130, 1002, 1030)
INSERT [dbo].[RoomServices] ([RoomServicesID], [ServiceID], [RentID]) VALUES (131, 1004, 1030)
INSERT [dbo].[RoomServices] ([RoomServicesID], [ServiceID], [RentID]) VALUES (132, 1002, 1031)
SET IDENTITY_INSERT [dbo].[RoomServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Tenant] ON 

INSERT [dbo].[Tenant] ([TenantID], [PassportID], [PhoneNumber], [FirstName], [MiddleName], [LastName], [BirthOfDate], [Gender], [InsertionDate], [EmergencyContactName], [EmergencyContactRelation], [EmergencyContactPhone], [EmergencyContactEmail], [Email], [UniversityName]) VALUES (1000, N'98742937', N'70 222 999', N'Joe', N'Sami', N'Joe', CAST(N'2001-07-04' AS Date), N'Male', CAST(N'2025-07-25' AS Date), N'Marie Marie', N'Mother', N'70 222 999', N'emergency@gmail.com', N'joe@gmail.com', N'LIU')
INSERT [dbo].[Tenant] ([TenantID], [PassportID], [PhoneNumber], [FirstName], [MiddleName], [LastName], [BirthOfDate], [Gender], [InsertionDate], [EmergencyContactName], [EmergencyContactRelation], [EmergencyContactPhone], [EmergencyContactEmail], [Email], [UniversityName]) VALUES (2005, N'98742937', N'70 295 256', N'Ahmad', N'M', N'Abd', CAST(N'2004-04-04' AS Date), N'Male', CAST(N'2025-07-30' AS Date), N'Ali Abd', N'Father', N'70 225 295', N'emergency@gmail.com', N'ahmad@gmail.com', N'LU')
INSERT [dbo].[Tenant] ([TenantID], [PassportID], [PhoneNumber], [FirstName], [MiddleName], [LastName], [BirthOfDate], [Gender], [InsertionDate], [EmergencyContactName], [EmergencyContactRelation], [EmergencyContactPhone], [EmergencyContactEmail], [Email], [UniversityName]) VALUES (2006, N'98742937', N'70 225 777', N'Ali', N'Ali', N'Hussein', CAST(N'2001-04-02' AS Date), N'Male', CAST(N'2025-07-30' AS Date), N'Ahmad Hussein', N'Uncle', N'70 225 979', N'emergency@gmail.com', N'ali@gmail.com', N'LU')
SET IDENTITY_INSERT [dbo].[Tenant] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [UserType], [Description]) VALUES (1, N'joan', N'662266', N'Admin', NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [UserType], [Description]) VALUES (7, N'joe', N'772277', N'Admin', NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [UserType], [Description]) VALUES (8, N'youssef', N'669999', N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_Payed]  DEFAULT ((0)) FOR [Payed]
GO
ALTER TABLE [dbo].[Bed]  WITH CHECK ADD  CONSTRAINT [FK_Bed_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Bed] CHECK CONSTRAINT [FK_Bed_Room]
GO
ALTER TABLE [dbo].[BedFeatures]  WITH CHECK ADD  CONSTRAINT [FK_BedFeatures_BedFeature] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[BedFeature] ([FeatureID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BedFeatures] CHECK CONSTRAINT [FK_BedFeatures_BedFeature]
GO
ALTER TABLE [dbo].[BedFeatures]  WITH CHECK ADD  CONSTRAINT [FK_BedFeatures_Rent] FOREIGN KEY([RentID])
REFERENCES [dbo].[Rent] ([RentID])
GO
ALTER TABLE [dbo].[BedFeatures] CHECK CONSTRAINT [FK_BedFeatures_Rent]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Bill] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Bill]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Rent] FOREIGN KEY([RentID])
REFERENCES [dbo].[Rent] ([RentID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Rent]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Room]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Tenant] FOREIGN KEY([TenantID])
REFERENCES [dbo].[Tenant] ([TenantID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Tenant]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Users]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Floor] FOREIGN KEY([FloorID])
REFERENCES [dbo].[Floor] ([FloorID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Floor]
GO
ALTER TABLE [dbo].[RoomServices]  WITH CHECK ADD  CONSTRAINT [FK_RoomServices_Rent] FOREIGN KEY([RentID])
REFERENCES [dbo].[Rent] ([RentID])
GO
ALTER TABLE [dbo].[RoomServices] CHECK CONSTRAINT [FK_RoomServices_Rent]
GO
ALTER TABLE [dbo].[RoomServices]  WITH CHECK ADD  CONSTRAINT [FK_RoomServices_RoomService] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[RoomService] ([ServiceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoomServices] CHECK CONSTRAINT [FK_RoomServices_RoomService]
GO
USE [master]
GO
